# data dirs
/public/data/*
/fuel/app/data/*

# Standard FuelPHP ignores
/fuel/app/logs/*
/fuel/app/cache/*
/fuel/app/tmp/*

# config files
/fuel/app/config/migrations.php
/fuel/app/config/crypt.php
/fuel/app/config/*/crypt.php

# custom environments
/.fuelenv
/fuel/app/config/*/*
!/fuel/app/config/development/*
!/fuel/app/config/test/*
!/fuel/app/config/stage/*
!/fuel/app/config/production/*

# composer
/fuel/vendor

# ant generated assets
.sass-cache
/public/assets/css/style.css
/public/assets/js/scripts.js
/public/assets/js/scripts.min.js
