[submodule "fuel/core"]
	path = fuel/core
	url = /var/git/fuel/core/
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = /var/git/fuel/oil
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = /var/git/fuel/parser

