/*  Headers  */

h1, .alpha-header{
	text-transform: uppercase;
	@include font-size(72);
	padding-bottom: 40px;
	@include mq($mobular) {
		@include font-size(42);
	}
}

h2, .beta-header{
	font-size: 2em;
	line-height: 1.125em;
}

h3, .omega-header{
	font-size: 1.5em;
	line-height: 1.125em;
}

h4, .zeta-header{
	font-size: 1em;
	line-height: 1.125em;
}