/*-----------------------------------------------------------------------------
----------------------------7--------$COMPONENTS--------------------------------
-------------------------------------------------------------------------------*/




// =============================================================
// ====================== Tables ===============================
// =============================================================

table {
    max-width: 100%;
    background-color: transparent;
}

    .table {
        margin-bottom: 1.625em;
        width: 100%;

        thead,
        tbody,
        tfoot {
            th,
            td {
                padding: 8px;
                border-top: 1px solid #dddddd;
                vertical-align: top;
                line-height: 26px;

                /* -------------------------------- */
                @include mq($max, 767px) {
                    padding: 8px;
                    border-top: 1px solid #dddddd;
                    vertical-align: top;
                    line-height: 22px;
                }
                /* -------------------------------- */
            }
        }

        thead {
            th {
                border-bottom: 2px solid #dddddd;
                vertical-align: bottom;
                text-align:left;
            }

            &:first-child {
                tr {
                    &:first-child {
                        border-top: 0;
                    }
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background:rgba(0, 255, 0, 0.05);
                }
            }

            + tbody {
                border-top: 2px solid #dddddd;
            }
        }

        /* nested table */
        .table {
            background-color: #ffffff;
        }

    }




