/*
	Style guide 

	These styles are only for the style guide.
	they will not appear anywhere else on the site.
*/


.sg-header{
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
}

.sg-sub{
	border-bottom: 1px solid #eee;
	float: left;
	font-size: 1em;
	margin: 2em 0 0.7em 0;
	text-transform: uppercase;
	width: 100%;
}

.sg-color{
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
	margin: 10px;
	height: 50px;
	width: 50px;
}
